{% extends "base.html.twig" %}

{% block title %}Home -
	{{ parent() }}
{% endblock %}

{% block topbanner %}
	<div class="jumbotron" style="background: url({{ asset('img/yann-allegre-8FG9tt8qZ-8-unsplash.jpg') }}) center 70% no-repeat;background-size:cover;">
		<p class="text-center h3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
	</div>
{% endblock %}
{% block body %}
	<p>Contenu de l'accueil 1</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil</p>
	<p>Contenu de l'accueil FIN</p>
{% endblock %}
