{# Security errors alerts #}
{% if error is defined and error %}

	<div class="alert alert-dismissible alert-danger">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Error!</strong>
		{{ error.messageKey|trans(error.messageData, 'security') }}
	</div>

{% endif %}

{# Error alerts #}
{% for messages in app.flashes(['reset_password_error', 'verify_email_error']) %}

	{% for message in messages %}
		<div class="alert alert-dismissible alert-danger">
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
			<strong>Error!</strong>
			{{ message }}
		</div>

	{% endfor %}
{% endfor %}

{# Warning alerts #}
{% for message in app.flashes('warning') %}

	<div class="alert alert-dismissible alert-warning">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Warning!</strong>
		{{ message }}
	</div>

{% endfor %}

{# Success alerts #}
{% for message in app.flashes('success') %}

	<div class="alert alert-dismissible alert-success">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Congratulations!</strong>
		{{ message }}
	</div>

{% endfor %}
