<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top py-1">
	<a class="navbar-brand py-0" href="{{ path('homepage') }}"><img src="{{ asset('img/SnowTricks_logo.png') }}" alt="SnowTricks logo" style="height:3.8rem;"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('homepage') }}">Home
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('homepage') }}#main-content">Tricks</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Sign in</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Sign up</a>
			</li>
		</ul>
	</div>
</nav>
