{% for trick in tricks %}
	{{ include('trick/_card.html.twig') }}
{% endfor %}

{% if isLastPage == false %}
	<span class="d-none">
		{{ path('trick_page_with_limit', {page: page+1, limit: limit}) }}
	</span>
{% else %}
	<span class="d-none"></span>
{% endif %}
