{% extends 'base.html.twig' %}

{% block title %}New Trick -
	{{ parent() }}
{% endblock %}

{% block body %}

	{{ include('trick/_form_content.html.twig') }}

	<div class="d-flex justify-content-end">
		{{ include('trick/_form.html.twig') }}
	</div>

{% endblock %}
